[Unit]
    Description=Musicfig
    After=network.target

[Service]
    User=pi
    Group=pi
    Environment="FLASK_APP=musicfig"
    Environment="FLASK_ENV=development"
    WorkingDirectory=%MUSICFIG_DIR%
    ExecStart=%PYTHON_PATH% -m flask run

[Install]
    WantedBy=multi-user.target
