<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <meta charset="utf-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emit('comm', {data: 'I\'m connected!'});
        });

        socket.onAny(function(event, ...args) {
            console.log(`got ${event}`);
        });
    </script>
</head>
<body>
    <h1>Registered Tags</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Attributes</th>
                <th>Last Updated</th>
            </tr>
        </thead>
        <tbody>
            {% for nfc_tag in nfc_tags %}
            <tr>
                <td>{{ nfc_tag.id }}</td>
                <td>{{ nfc_tag.name }}</td>
                <td>{{ nfc_tag.description }}</td>
                <td>{{ nfc_tag.type }}</td>
                <td>{{ nfc_tag.attr }}</td>
                <td>{{ nfc_tag.last_updated }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
    