<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
    <meta charset="utf-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    
    <script type="text/javascript" charset="utf-8">
        function t(message, destination, close) {
            Toastify({
                text: message,
                duration: 3000,
                destination: destination,
                newWindow: false,
                close: close,
                gravity: "bottom",
                position: "right"
            }).showToast();
        }
        var socket = io();
        socket.on('connect', function() {
            socket.emit('comm', {data: 'I\'m connected!'});
        });

        socket.on('loop', function(event, ...args) {
            console.log('got loop event');
        });

        socket.onAny(function(event, ...args) {
            console.log(`got ${event}`);
        });

        function doDelete(tag_id) {
            console.log("deleting tag " + tag_id);
            socket.emit("do_tag_delete", {"tag_id": tag_id});
        };

        socket.on("tag_deleted", function(event, ...args) {
            // we could do fancy things to try and pull the thing out of the page... but we won't
            location.reload();
        });

        socket.on("new_tag", function(event, ...args) {
            t("new tag has been placed", "https://www.google.com", true);
        });
    </script>
</head>
<body>
    <h1>Registered Tags</h1>
    <table>
        <thead>
            <tr>
                <th>Actions</th>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Attributes</th>
                <th>Last Updated</th>
            </tr>
        </thead>
        <tbody>
            {% for nfc_tag in nfc_tags %}
            <tr>
                <td>
                    <button onclick="doDelete('{{ nfc_tag.id }}')"><i class="fa fa-trash-o"></i></button>
                </td>
                <td>{{ nfc_tag.id }}</td>
                <td>{{ nfc_tag.name }}</td>
                <td>{{ nfc_tag.description }}</td>
                <td>{{ nfc_tag.type }}</td>
                <td>{{ nfc_tag.attr }}</td>
                <td>{{ nfc_tag.last_updated }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>
    